<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-paper-heading" data-cy="PaperCreateUpdateHeading">Create or edit a Paper</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_abstractText">Abstract Text</label>
          <textarea
            class="form-control"
            name="abstractText"
            id="field_abstractText"
            data-cy="abstractText"
            formControlName="abstractText"
          ></textarea>
          <div
            *ngIf="editForm.get('abstractText')!.invalid && (editForm.get('abstractText')!.dirty || editForm.get('abstractText')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('abstractText')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_submitedDate">Submited Date</label>
          <div class="input-group">
            <input
              id="field_submitedDate"
              data-cy="submitedDate"
              type="text"
              class="form-control"
              name="submitedDate"
              ngbDatepicker
              #submitedDateDp="ngbDatepicker"
              formControlName="submitedDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="submitedDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_pdfLink">Pdf Link</label>
          <input type="text" class="form-control" name="pdfLink" id="field_pdfLink" data-cy="pdfLink" formControlName="pdfLink" />
          <div *ngIf="editForm.get('pdfLink')!.invalid && (editForm.get('pdfLink')!.dirty || editForm.get('pdfLink')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('pdfLink')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_baseLink">Base Link</label>
          <input type="text" class="form-control" name="baseLink" id="field_baseLink" data-cy="baseLink" formControlName="baseLink" />
          <div *ngIf="editForm.get('baseLink')!.invalid && (editForm.get('baseLink')!.dirty || editForm.get('baseLink')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('baseLink')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label for="field_authors">Author</label>
          <select class="form-control" id="field_authors" data-cy="author" multiple name="authors" formControlName="authors">
            <option
              [ngValue]="getSelectedAuthor(authorOption, editForm.get('authors')!.value)"
              *ngFor="let authorOption of authorsSharedCollection; trackBy: trackAuthorById"
            >
              {{ authorOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
