<div class="d-flex justify-content-center">
  <h2 id="page-heading" data-cy="PaperHeading">
    <span>Search Papers</span>
  </h2>
</div>
<div class="d-flex justify-content-center">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Find new papers" [(ngModel)]="search" (ngModelChange)="findByText()" />
  </div>
</div>
<div class="d-flex justify-content-center mt-2">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li *ngIf="page > 0" class="page-item"><a class="page-link" (click)="prevPage()">Previous</a></li>
      <li *ngIf="papers && papers.length > 0" class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
  </nav>
</div>
<div class="d-flex justify-content-center mt-2">
  <div class="row" *ngIf="papers && papers.length > 0">
    <div class="col-4" *ngFor="let paper of papers">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">{{ paper.title }}</h5>
          <h6 class="pb-2">
            Submitted on: <span class="bg-light text-dark">{{ paper.submitedDate }}</span>
          </h6>
          <h6 class="card-subtitle mb-2 text-muted" *ngFor="let author of paper.authors?.slice(0, 3)">
            {{ author.name }}
          </h6>
          <h6 class="card-subtitle mb-2 text-muted" *ngIf="paper.authors && paper.authors.length > 4">...</h6>
          <p class="card-text" *ngFor="let subject of paper.subjects?.slice(0, 3)">{{ subject.title }},</p>
          <h6 class="card-text" *ngIf="paper.subjects && paper.subjects.length > 4">...</h6>
          <a routerLink="/paper/{{ paper.id }}/view" class="card-link">View Paper</a>
        </div>
      </div>
    </div>
  </div>
</div>
